body {
    background-color: rgb(202, 0, 0);
    display: flex;
}

.input {
    display: flex;
    margin: auto;
    padding: 8px;
    /* background-color: yellow; */
}

.info {
    display: flex;
    margin: auto;
    padding: 8px;
    /* background-color: yellow; */
    vertical-align: bottom;
}

.sprite-front {
    scale: 1;
    transition: 750ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.sprite-front:hover {
    transform: scale(4);    
}

.logo {
    display: block;
    width: 80%;
    margin-top: 0%;
    margin: auto;
    
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}